.App {
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.App-header {
    background-color: #282c34;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 3vmin);
    color: white;
}

.Info {
    background-color: beige;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: calc(10px + 2vmin);
    /* padding: 10px; */
}
/* 
.Form {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-height: 10vh;
    font-size: calc(10px + vmin);
} */

.Result {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.Result ul {
    display: flex;
    flex-direction: column;
    /* flex: 1 0 auto; */
    font-size: calc(10px + 1.2vmin);
    overflow-y: auto;
    max-height: 50vh;
    align-items: center;
    /* justify-content: left; */
    text-transform: capitalize;
}

.App-footer {
    background-color: #282c34;
    display: flex;
    height: 5vh;
    justify-content: left;
    padding: 5px 0 5px 10px;
}

.App-footer a {
    color: white;
    font-size: calc(10px + 1vmin);
}
