#App {
    text-align: center;
}

header {
    background-color: #282c34;
    font-size: 30px;
    color: white;
    padding: 7.5px 0;
}

#Info {
    background-color: beige;
    color: black;
    font-size: 24px;
    padding: 6px 0;
}

#Info .score {
    display: inline-block;
    margin: 0 10px;
}

#StartPage label {
    margin: 0 10px 0 0;
}

#main-container {
    height: calc(100vh - 161.27px);
    display: flex;
    font-size: 18px;
}

#StartPage,
#EndPage {
    font-size: 18px;
    height: calc(100vh - 179.27px);
    margin: 0;
    padding: 0;
}

#game,
#EndPage {
    flex: 0 0 30%;
}

#Map {
    flex: 0 0 70%;
    height: inherit;
}

#game {
    /* add scrollbar within container if overflows
       auto works for Firefox and overlay works for Safari/Chrome */
    overflow-y: auto;
    overflow-y: overlay;
}

#Result ul {
    display: inline-block;
    font-size: 18px;
}

footer {
    background-color: #282c34;
    padding: 5px 10px;
    text-align: left;
}

footer a {
    color: white;
    font-size: 16px;
}
